h1 {
    font-size: 45px;
    color: blue;
    text-align: center;
    margin-top: 100px;
}

.container {
    width: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    margin-top: 20px;
}

.button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: crimson;
}

.playgamebtn {
    display: flex;
    justify-content: space-around;
}

.squares {
    width: 200px;
    height: 200px;
    background-color: darkgreen;
    padding: 20px;
}